<mat-toolbar>
    <span>Worldle DX</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="newGame()">
        <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <span mat-menu-item disabled>Gameplay Mode</span>

    <button mat-menu-item (click)="gameModeSelector('capitals')">
        <mat-icon [ngClass]="{'selected': _gameMode==='capitals' && _appMode==='GAME'}">location_on</mat-icon>
        <span [ngClass]="{'selected': _gameMode==='capitals' && _appMode==='GAME'}">Capitals</span>
    </button>

    <button mat-menu-item (click)="gameModeSelector('flags')">
        <mat-icon [ngClass]="{'selected': _gameMode==='flags' && _appMode==='GAME'}">flag</mat-icon>
        <span [ngClass]="{'selected': _gameMode==='flags' && _appMode==='GAME'}">Flags</span>
    </button>

    <button mat-menu-item (click)="gameModeSelector('boundaries')">
        <mat-icon [ngClass]="{'selected': _gameMode==='boundaries' && _appMode==='GAME'}">public</mat-icon>
        <span [ngClass]="{'selected': _gameMode==='boundaries' && _appMode==='GAME'}">Borders</span>
    </button>

    <span mat-menu-item disabled>Other Modes</span>

    
    <button mat-menu-item (click)="appModeSelector('STATS')">
        <mat-icon [ngClass]="{'selected': _appMode==='STATS'}">show_chart</mat-icon>
        <span [ngClass]="{'selected': _appMode==='STATS'}">Game Statistics</span>
    </button>
    <button mat-menu-item (click)="appModeSelector('MATHS')">
        <mat-icon [ngClass]="{'selected': _appMode==='MATHS'}">language</mat-icon>
        <span [ngClass]="{'selected': _appMode==='MATHS'}">Maths Mode</span>
    </button>
    <button mat-menu-item (click)="appModeSelector('STUDY')">
        <mat-icon [ngClass]="{'selected': _appMode==='STUDY'}">import_contacts</mat-icon>
        <span [ngClass]="{'selected': _appMode==='STUDY'}" >Revision Mode</span>
    </button>

    <span mat-menu-item disabled>Debug Tools</span>

    <button mat-menu-item>
        <mat-icon>visibility</mat-icon>
        <span>Display States</span>
    </button>

    <button mat-menu-item>
        <mat-icon>search</mat-icon>
        <span>Review Data</span>
    </button>

    <button mat-menu-item (click)="appModeSelector('THEORY')">
        <mat-icon [ngClass]="{'selected': _appMode==='THEORY'}">functions</mat-icon>
        <span [ngClass]="{'selected': _appMode==='THEORY'}">Maths Theory</span>
    </button>

    <!-- <button mat-menu-item>
        <mat-icon>construction</mat-icon>
        <span>Debug and Repair</span>
    </button> -->

  </mat-menu>