<div class="container">
    <div class="item item-1"> Item One </div>
    <div class="item item-2"> Item Two</div>
    <div class="item item-3"> Item Three</div>
    <div class="item item-4"> Item Four</div>

    <app-navbar class="nav-bar"></app-navbar>
    
    <user-io class="user-io"></user-io>
    <app-debug class="app-debug"></app-debug>
    <solution-card class="app-debug"></solution-card>
    <app-game-clue class="app-debug"></app-game-clue>
    <!-- <globe-controls class="globe-controls"></globe-controls> -->
    <!-- <globe-visualiser class="globe-visualiser"></globe-visualiser> -->
    
    <!-- <app-stats-table class="stats-table"></app-stats-table> -->

    <solution-card class="solution-card"></solution-card>

  </div>