.container {
    display: grid;
    grid-template-columns: 0.25fr minmax(200px, 2fr) 0.25fr minmax(200px, 2fr) 0.25fr;
    grid-template-rows: 64px 2fr 1fr 1fr;
    width: 100vw;
    height: 96vh;
}


.nav-bar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.game-clue {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.user-io {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.app-debug {
    grid-column: 2 / 3;
    grid-row: 4 / 5;   
}

.globe-controls {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.globe-visualiser {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.stats-table {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.data-review {
    grid-column: 2 / 3;
    grid-row: 2 / 5;   
}

.solution-card {
    grid-column: 4 / 5;
    grid-row: 2 / 5;    
}