<div class="container">
    <!-- <div class="item item-1"> Item One </div>
    <div class="item item-2"> Item Two</div>
    <div class="item item-3"> Item Three</div> -->
    <!-- <div class="item item-4"> Item Four</div> -->

    <app-navbar class="nav-bar"></app-navbar>
   
    <!-- <div *ngIf="_appMode==='GAME'">  -->
        <game-clue class="game-clue" *ngIf="_appMode==='GAME'"></game-clue>
        <user-io class="user-io" *ngIf="_appMode==='GAME'"></user-io>
        <globe-results-visualiser class="globe-maths-visualiser" *ngIf="_appMode==='GAME'"></globe-results-visualiser>
    <!-- </div> -->

    <!-- <div *ngIf="_appMode==='">  -->
        <app-debug class="app-debug"></app-debug>
    <!-- </div> -->


    <!-- <div *ngIf="_appMode==='MATHS'"> -->
        <globe-controls class="globe-controls" *ngIf="_appMode==='MATHS'"></globe-controls>
        <globe-maths-visualiser class="globe-maths-visualiser" *ngIf="_appMode==='MATHS'"></globe-maths-visualiser>
    <!-- </div> -->


    <app-stats-table *ngIf="_appMode==='STATS'" class="stats-table"></app-stats-table>

    <!-- <solution-card *ngIf="false" class="solution-card"></solution-card> -->
    

    <data-review *ngIf="_appMode==='STUDY'" class="data-review"></data-review>

  </div>