<mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select (selectionChange)="handleSelect($event)">
      <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option> -->
      <mat-option *ngFor="let country of countryList" [value]=country>
        {{country.name}}
    </mat-option>
    </mat-select>
  </mat-form-field> 

  <button mat-button (click)="debugClick()">Print Memory</button>
  <button mat-button (click)="debugGeoJSON()">Print GeoJSON</button>

  <button mat-button (click)="repairCapitalLatLongs()">Repair GeoJSON</button>

  
  <button mat-button (click)="printCountryNames()">Print Names</button>
  <button mat-button (click)="hashFunction()">Fix Flag Hashes</button>


  <generic-globe [selectedCountry]="selectedCountry"></generic-globe>