<h2>Clipboard IO Using Promises:</h2>
<button mat-stroked-button color="accent"
  (click)="readFromClipboardPromise()"
>
  Read fromClipboard
</button>
<br/>
<br/>
<button mat-stroked-button
(click)="writeToClipboardPromise()"
  >
    Write to Clipboard
</button>
<br/>
<br/>

<h2>Clipboard IO Using RxJS:</h2>
<button mat-stroked-button color="accent"
  (click)="readFromClipboardRxJS()"
>
  Read fromClipboard
</button>
<br/>
<br/>
<button mat-stroked-button
(click)="writeToClipboardRxJS()"
  >
    Write to Clipboard
</button>

<br/>
<br/>

<h2>Drag + Drop Target</h2>

<br/>
<br/>

<h3>Flags</h3>
https://gitlab.com/catamphetamine/country-flag-icons/-/tree/master/flags/1x1
