<div class="clue-display">

<div *ngIf="_gameMode==='flags'" class="clue-flags"><img width="400px" src="assets/flags/png1000px/{{_targetCountry.code| lowercase }}.png"/></div>
<div *ngIf="_gameMode==='boundaries'" class="clue-boundaries"><img width="400px" src="assets/boundaries/svg/{{_targetCountry.code| lowercase }}/vector.svg"
                                            [ngStyle] = "{'filter': ' brightness(0)  saturate(100%) invert(30%) sepia(5%) saturate(20%) hue-rotate(326deg) brightness(96%) contrast(83%) '}"
                                    
                        /></div>
<div *ngIf="_gameMode==='capitals'" class="clue-capitals">{{_targetCountry.capital}}</div>
<!-- https://codepen.io/sosuke/pen/Pjoqqp used to generate the css filter -->

</div>